* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #23364d;
    font-family: 'Open Sans', sans-serif;

}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: auto;
}
figcaption {
    background-color: #23364d;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.logo {
    display: flex;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px; 
}

/*Header icon fix attempt*/
.logo img {
    display:flex;
    justify-content:flex-start;
    height:12vh;
    padding-right:50px;
}
.logo h4{
    margin: auto;
}

/*Header icon fix attempt end*/
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;padding: 10px;
    color: rgb(226, 226, 226);
    
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none; 
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* dropdown testing*/
.menu-btn {
    background-color: #23364d;
    display: flex;
    justify-content: space-around;
    color: rgb(226, 226, 226);
    padding: 12px;
    list-style: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 8vh;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color: #23364d;
    min-width: 160px;
    z-index:1;
 }
 nav{
    background-color: #23364d;
 }
 .links,.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
 }
 .links-hidden{
    display: block;
 }
 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    background-color: #4e6994;
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
     background-color: red;
 }


/* end dropdown tesing*/

h1{
    font-family: "Open Sans";

	top: 0px;
	margin: 10px;
	margin-right: 10%;
	padding-right: 10px;
    padding-left: 50px;

}

.intro{
    font-family: "Open Sans";
    top: 10px;
    margin: 10px;
    margin-left: 50px;

}

blockquote{
    font-family: "Open Sans";
    top: 10px;
    margin: 10px;
    margin-left: 100px;

}
@media screen and (max-width: 1024px) {
    nav-links{
        width: 60%;
    }
    
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

/* sectioning test*/


#content {
    z-index: 100;
    flex: 1 0 75%;
    padding-left: 15%;
    padding-top: 50px;
    padding-right: 10%;
  }
  
  .sectionHeader {
    font-family: "Open Sans";
    font-size: 20pt;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: all-small-caps;
    letter-spacing: 2px;
    margin: 0px;
    color: black;
  }
  
  #featureHeader {
    border-bottom: 1px solid #015454;
  }
  
  .mainContent {
    font-family: "Open Sans";
    font-size: 11pt;
    font-weight: 300;
    line-height: 20pt;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    text-align: justify;
  
  }
  
  .mainContent a:link, .mainContent a:visited {
    color: #4e6994;
    text-decoration: none;
    font-weight: 600;
  }
  
  .mainContent a:hover {
    text-decoration: underline;
    font-weight: 600;
  }
  
  #featureContent {
    /* background-color: rgb(245, 252, 245); */
    background-color: rgb(244, 244, 244);
    padding: 25px;
    margin: 0px 0px 50px 0px;
  }
/* footer*/
footer {
    font-family: Open Sans, sans-serif;
    display: flex;
    
    background-color: #23364d;
    color: #e2e2e2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #23364d;
    font-family: 'Open Sans', sans-serif;
}
a[href^=mailto] {
    color:#e2e2e2;
}
#siteInfo {
    font-family: Open Sans, sans-serif;
    color: #e2e2e2;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}  
/* social media icons*/
.icons {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 25px;
}

.icon{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    outline: 1.5px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}
.icon--twitter:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {transform: rotate(15deg);}
    20% {transform: rotate(-15deg);}
    30% {transform: rotate(15deg);}
    40% {transform: rotate(-15deg);}
}