* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, sans-serif;
    height: 100vh;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 7vh;
    max-height: 9vh;
    background-color: #08415c;
    font-family: 'Open Sans', sans-serif;
}
.home_wrapper{
    box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    background-color: #F6F5EE;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: auto;
}
figcaption {
    background-color: #08415c;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.logo {
    display: flex;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px; 
}
ul {
    list-style-type: none;
}
/*Header icon fix attempt*/
.logo img {
    display:flex;
    justify-content:flex-start;
    height:9vh;
    padding-right:50px;
}
.logo h4{
    margin: auto;
    font-weight: 300;
    letter-spacing: 1px;
}

/*Header icon fix attempt end*/
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li, .dropdown-menu {
    list-style: none;
    padding: 10px;
    color: rgb(226, 226, 226);
    margin:auto;
    
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none; 
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* dropdown testing*/

.menu-btn {
    background-color: #08415c;
    margin:auto;
    justify-content: space-around;
    color: rgb(226, 226, 226);
    padding: 10px;
    list-style: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 8vh;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
 }
 .menu-btn-long {
    flex-wrap: nowrap;

 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color: #08415c;
    min-width: 160px;
    z-index:1;
 }
 /* 
 header.sticky {
    position:sticky;
    top: 0;
    z-index: 1;
   this z-index made the dissapearing nav-bar problem go away 
 }
 */

 .links,.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
 }
 .links-hidden{
    display: block;
 }
 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    background-color: #4e6994;
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
     background-color: #e63946;
 }
.nav-links li:hover {
    background-color: #e63946;
}

/* end dropdown tesing*/

h1#banner{
    font-family: "Open Sans";

	top: 0px;
	margin: 10px;
	margin-right: 10%;
	padding-right: 10px;
    padding-left: 50px;

}

.intro{
    font-family: "Open Sans";
    top: 10px;
    margin: 10px;
    margin-left: 50px;

}

blockquote{
    font-family: "Open Sans";
    top: 10px;
    margin: 10px;
    margin-left: 100px;

}

/* sectioning test*/


#content {
    z-index: 100;
    flex: 1 0 75%;
    padding-left: 15%;
    padding-top: 50px;
    padding-right: 10%;
  }
  
  .sectionHeader {
    font-family: "Open Sans";
    font-size: 20pt;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: all-small-caps;
    letter-spacing: 2px;
    margin: 0px;
    color: black;
  }
  
  #featureHeader {
    border-bottom: 1px solid #015454;
  }
  
  .mainContent {
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 20pt;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    text-align: justify;
  
  }

  .mainContent a:link {
    color: #CC1919;
    text-decoration: none;
    font-weight: 600;
  }
  .mainContent a:visited{
    color:#0087bc;
    text-decoration: none;
    font-weight: 600;

  }
  .mainContent a:hover {
    text-decoration: underline;
    font-weight: 600;
  }
  
  #featureContent {
    /* background-color: rgb(245, 252, 245); */
    background-color: rgb(244, 244, 244);
    padding: 25px;
    margin: 0px 0px 50px 0px;
    text-align:left;
  }
#featureContent p{
    padding-bottom: 1em;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
table {
    table-layout: fixed;
    width: 100%;
    margin: 0 0 1.75em;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Georgia,"Times New Roman",serif;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table td{
    border: 1px solid;
    padding: 0.5em;
    word-break: normal;
}
table th{
    border: 1px solid;
    padding: 0.5em;
    word-break: normal;
}
table a:link {
    color: #CC1919;
    text-decoration: none;
    font-weight: 600;
  }
 table a:visited{
    color:#0087bc;
    text-decoration: none;
    font-weight: 600;

  }
 table a:hover {
    text-decoration: underline;
    font-weight: 600;
  }

/*   blog page styling */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color:#CC1919;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #08415c;
    font-weight: 600;
}
.blog-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0x;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ececec;   
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* i am not sure what this does*/
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #CC1919;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #08415c;
}
.blog-text .blog-title:hover{
    color: #CC1919;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b99;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #CC1919;
    transition: all ease 0.3s;
}

/* footer*/
footer {
    font-family: Open Sans, sans-serif;
    display: flex;
    color: #e2e2e2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 12vh;
    background-color: #121212;
    font-family: 'Open Sans', sans-serif;
}
a[href^=mailto] {
    color:#e2e2e2;
}
#siteInfo {
    font-family: Open Sans, sans-serif;
    color: #e2e2e2;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}  
/* social media icons*/
.icons {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 25px;
}

.icon{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 1.5px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}
.icon--twitter:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {transform: rotate(15deg);}
    20% {transform: rotate(-15deg);}
    30% {transform: rotate(15deg);}
    40% {transform: rotate(-15deg);}
}

@media screen and (max-width: 1024px) {
    nav-links{
        width: 60%;
    }
    
}

@media screen and (max-width: 1010px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    
    .burger {
        display: block;
    }
    footer{
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 20px;
        min-height: 20vh;
        column-gap: 15px;
        justify-content: space-around;
    }
    .icons{
        column-gap: 10px;
        padding: 20px; 
    }
    #copyrt{
        font-size: 12px;
    }
    #siteInfo{
        font-size: 14px;

    }
    .hero-text{
        margin-top: 100px;
    }

}

/*blog device-size adjustments*/
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
  
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
    .hero-text{
        margin-top: 150px;
    }
    .hero-title{
        font-size: 5em;
    }
    h2.hero-text{
        font-size: 1.5em;
    }
}


.nav-active{
    transform: translateX(0%);
    z-index: 3;

}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

/*alternate hero option*/
.hero{
    position: relative;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/Fountain_pen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%)
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero .hero-button{
    font-family: Open Sans, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    background: #0f0f0f;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;

}
.content-wrapper{
    box-sizing: content-box;
    display: flex;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    justify-content: flex-start;
    letter-spacing: 0.16px;
    line-height: 28.8px;
    max-width: 1800px;
    opacity: 1;
    overflow-wrap: break-word;
    padding: 30px;
}


.wrapper{
    box-sizing: content-box;
    color: #0f0f0f;
    display: flex;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 0.16px;
    line-height: 28.8px;
    max-width: 1800px;
    overflow-wrap: break-word;
    padding-right: 3vh;
    padding-left: 3vh;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
}

.content2{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.sqs-block-content hr{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color: #08415c;
    height: 1px;
    display: block;
}
.sqs-block-content h4{
    white-space: pre-wrap;transition-timing-function: ease-in;transition-duration: 0.6s;transition-delay: 0.386667s;font-size: 1.5em;
    margin: 2rem 0;
}
.spacer-block{
    position: relative;
    height: auto;
    display: block;
    padding: 17px;
    height: 34px;

}
.sqs-col-1{
    width: 8.3%;
    float: left;

}
.sqs-block{
    padding-left: 17px;
    padding-right: 17px;
}
.sqs-block-content p{
    margin: 1rem 0;
}
.sqs-col-7{
    width: 58%;
}
.sqs-col-4{
    width: 33%;
}
.sqs-row:before, .sqs-after:after{
    content: "";
    display: table;
}
.sqs-row{
    width: auto;
    display: flex;
    position: relative;
}
.preFade{
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#edit1{
    float:left;
    padding: 3em;
    width: 50%;
    height: 300px;
    transform: translateY(30%)
}
#edit1 h1{
    font-weight: 600;
    font-size: 28px;
    margin-block-start: 32px;
}
#edit1 h2{
    font-size: 20px;
}

#edit2{
    display: block;
    box-sizing: border-box;
    float:right;
    padding: 30px;
    width: 50%;
    list-style: decimal;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.16px;
    line-height: 1.8;
    background-color: #C2D6E0;
    overflow-wrap: break-word;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}
#edit2 ul{
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}
#rates::after{
    content: " ";
    display: table;
    clear: both;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: Open Sans, sans-serif;
    background-color:  #A3BAC3ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #f45b5f;
    font-family: Open Sans, sans-serif;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Open Sans, sans-serif;
  }
textarea#message{
    font-family: Open Sans, sans-serif;
}




/*editing services pages https://www.youtube.com/watch?v=maeDgHcK_Os */
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column

}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(/images/Proofreading_banner_web.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-hero{
    background-image: url(/images/above\ the\ clouds2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    display: flex;
    justify-content:left;
    padding-top: 30vh;  
    padding-left: 15%;
    padding-bottom: 15px;
    position: relative;
    flex-direction: column;
}

.home-hero h1{
    font-size: 2.5rem;
    display: flex;
    padding-bottom: 20px;
}
.hero-image .hero-text{
    position: relative;
    color: #fff;
    text-align: center;
    transition-timing-function: ease;
    transition-duration: 0.6s;
    transition-delay: 0.293333s; 
}

.hero-image .hero-text h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0; 
}

.hero-image .hero-text p{
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-image .hero-button{
    text-decoration: none;
    color: #fff;
    background: #0f0f0f;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;

}
.s-heading h1{
    color: #08415c;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px;
    padding-top: 50px;
}

.hero-button:hover{
    background: #fff;
    color: #0f0f0f;
}
/*Flex container section for data home page*/

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    font-family: 'Open Sans', sans-serif;
    color: #0f0f0f;
   

}

.flexbox-item1 {
    min-height: 100px;
    flex-grow: 0;
    color: #0f0f0f;
    
}
.flexbox-item1 .nav-link:hover{
    background-color: #9b9b99;
}
.flexbox-item2 {
    min-height: 200px;
    flex-grow: 1;
    flex-direction: column;
}
.flexbox-item3 {
    min-height: 300px;
    flex-grow: 1;
}
.flexbox-item1 .nav-item.current-page .nav-link::before {
  visibility: visible;
  transform: scaleX(1);
} 
.nav-item.current-page{
    text-decoration:underline;
}
.nav-item .nav-link, a:visited {
    text-decoration: none;
    cursor: pointer;
    justify-content: center; 
  }
.flex-content1{
    align-self: center;
}
.Tableau-btn {
    width: 150px;
    border: none;
    cursor: pointer;
    padding: 15px 25px;;
    background-image: url(/images/Tableau_bw.png);
    background-size: cover;
}

/* editing services section click boxes*/

.s-heading p{
    color: rgba(87, 105, 117, .6);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}
.s-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box img{
    height: 75px;
}
.s-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    /*box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);*/
    position: relative;
    
}
.s-box h1{
    color: #08415c;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.s-box p{
    color: rgba(87, 105, 117, .9);
    text-align: center;
}
.s-btn{
    width: 200;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(74, 144, 226, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #576975;
    margin-top: 10px;
}
.s-box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    transition: all ease .3s;
}
.s-btn:hover{
    background-color: #4a90e2;
    border:1px solid #4a90e2;
    color: #FFFFFF;
    transition: all ease 0.3s;
}
.bar{
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #4a90e2;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.s-box:hover .bar{
    display: block;
}

@keyframes bar{
    0%{
        width: 0px;

    }
    100%{
        width: 100px;
    }
}

@media(max-width:1050px){
    .s-box-container{
        flex-wrap: wrap;
    }
    .services{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box{
        flex-grow: 1;
    }
}